/* Tooltip container */
.impl-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  .tooltiptext {
    visibility: hidden;
    width: 160px;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 9999;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.impl-tooltip:hover .tooltiptext {
  visibility: visible;
}
